.bdr{
    border: 1px solid red!important;
}
.m0{
    margin: 0!important;
}
.p0{
    padding: 0!important;
}
#login a{
	color:black!important;
}
#pay-option input:focus,
#pay-option select:focus{
    -border-radius: 30px !important;
    border: 1px solid #FFBB00 !important;
    box-shadow: 0px 1px #FFBB00 !important;
    outline: none !important;
}
#deliver input{
	padding:8px 15px!important; 
}
#deliver button{
	-border:1px solid red;
	float: right;
	margin-right: 2.5% !important;
	margin-top: 2% !important	
}
#deliver select{
	border-radius:30px!important;
}
.bt-with{
            width: 97.3%!important;
            margin-top: 10%;
        }

.main-buy{
    -border: 1px solid red!important;
    display: table;
    -padding: 0px 10%; 
    margin: 35px auto;            
    -padding:0 5%
    
}
.main-buy ul{
    -border: 1px solid red;
    margin: 0!important;
    padding: 0!important;
    list-style: none;
    -overflow: hidden;
    margin: 0!important;
}
.main-buy ul li.active a{
    background-color: white!important;	
	border:1px solid #ccc!important;
	color:black!important;
	border-right-color:white!important;
	z-index: 1;
}
.main-buy ul li:first-child{
	margin-top:0;
}
.main-buy ul li:hover{
	border:inherit;
}
.main-buy ul li{
    -border: 1px solid red;            
    width: 100%;
	margin: 5px 3px 5px;
    padding:0!important;
}
.main-buy ul li a{
    padding: 7px 20px;        
    -color:white;
    border-radius: 0!important;
    display: block!important;
    font-weight: bold;
    text-transform: uppercase;
}
    .main-buy .nav-tabs li.active{    
        border: none;
    }
    .main-buy ul li a{        
        background-color: #FEBB04!important;
        border-color:#FEBB04;
        color: white!important;        
    }
    .in-login{
        -border: 1px solid red;
        margin-top:10px!important;        
    }
    .nav-r{
        -border: 1px solid red;
        -width: 50%!important;
        -display: table;
    }
        .tab-pane{
            padding: 20px;
        }
        .n-pad{
            padding-left: 3%;
        }
        .n-bdr{
            border-left: 1px solid silver;
            padding-left: 3%;
        }
        .bnone{
            border: none!important;
        }
        @media(max-width:767px){
			.main-buy input,
			.main-buy select{
				width:100%;
			}
			.main-buy .checkbox-holder input{
				border:1px solid red!important;		
				width: 40%;
			}
			
		}
        @media(min-width:1024px){            
        .main-buy{
			padding: 0px 1.3%;
		}
		.tab-pane .panel-heading{
            background-color: aliceblue;            
        }
        .dclr>button{
            border: 1px solid red;
            border: none;            
            background: none;
            box-shadow: none;
            color:black;
        }
        .dclr>button:hover,
        .dclr>button:focus
        {
            box-shadow: none;
            border: none;
            background: none;
            color:black;
        }
        .dclr>div{
            margin-top:10px !important;             
        }        
        .pay-btn{
            background: #FEBB04;
            border: none;
            font-family: verdana;
            color: white;
            margin-bottom: 2.0%;
			padding: 3px 20px;
            font-weight: bold;
			border-bottom: 1px solid #FEBB04;
        }        
        .tab-pane .panel-body input{
            -border: 1px solid red;
            height: 100%;
        }
        .tab-pane .radio-inline{
            -border: 1px solid red;
            -float: left;
            text-align: left!important;
            margin: 3px 10px;
            
        }
        input[type="radio"], input[type="checkbox"] {
            margin: 0px 0 0;}
        .m10{
            margin-top:10px!important;
        }
            .captch img{
                border: 1px solid silver;
                padding: 0;                
                margin-right: 10px;
                margin-bottom: 5px;
            }               
        .captch input{
            padding: 4px 0;
            margin-bottom: -1px;
            font-size: 18px;
            margin-right: 10px;
			
        }
        .captch button{
            padding: 8px 10px;
            margin-bottom: -10px !important;
            
        }
        .panel-group .panel {
            margin-bottom: -6px;
        }
		}  
		.control-group{
				-border:1px solid red;
				margin-bottom: 4%;
				display:table;
				width:100%
		}
		.main-buy .col-md-9{
				border:1px solid #ccc;			
				padding-bottom: 4%;
				
		}
		.main-buy .nav-tabs{
			border:none;			
		}
		.main-buy .nav-tabs li.active:hover a{
			border:1px solid #ccc!important;
			border-bottom-color:#ccc;
			border-right-color:white!important;
		}
		.main-buy .nav-tabs li:hover a{
			border:1px solid #FEBB04!important;
			
		}
		.mbt{
			margin-bottom:10px;
		}
		.chosen-container-single .chosen-single div b {		
			background: url('chosen-sprite.png') no-repeat -5px 3px!important;
		}
		.chosen-container-single .chosen-single span {			
			margin-top: -5px!important;
		}
		.section-homepage-subscribe {
			margin: 0px 0 30px 0!important;
		}
		.section-footer {
			padding: 40px 0!important;
		}
		.section-checkout 
		{
			padding:0;
			margin-bottom: 35px;
		}
		.page-content.shopping-cart-page 
		{
			border:1px solid silver;
			padding-bottom:10px;
			-padding-right:10px;
			margin: 0px!important;
		}
		.chosen-container 
		{			
			margin-top: 11% !important
		}
		.delete{
			padding-left: 50px;
		}
		.delete .close-btn {
			top: 63px!important;
		}
		.section-checkout tr{
			border-bottom:1px solid silver;
		}
		.buttons-holder .cusmo-btn:last-child {
			margin-right: 20px!important;
		}		
		
	@media(max-width:767px)
	{
		.shopping-cart-page .price {			
			text-align: left!important;
		}
		.shopping-cart-page .quantity {
			text-align: left!important;
		}
		.buttons-holder .cusmo-btn:last-child {
			margin-right: 4px !important;
			margin-top: 14px !important;
		}
		.delete .close-btn {
			top: 10px !important;
			left: 44% !important;
			
		}
		.delete {
			-display:none!important;
		}
		.shop-hide td:nth-of-type(5)::before {
			content: none !important;
			font-family: Raleway;			
			border-color:white!important;			
			border-top: 0px solid #ddd!important;
						
		}
		.shop-hide td:nth-of-type(5) > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th 
		{
			padding:0!important;
			border-color:transparent!important;
		}
		.desc{
			text-align:left!important;
		}
	}
	
	
	.section-footer {
			
	}	

.newsletter-submit-btn {    
    padding: 10px 22px 1px 40px!important;
}
@media(min-width:1024px){
	
.main-buy .inpadding input,
.main-buy select{
	padding:8px 15px!important
}

}
.pl0{
	padding-left:0!important;
}
        .pb0{
            padding-bottom: 0!important;
        }
        .pr0{
           padding-right: 0!important; 
        }
        